.collection-title {
  text-align: center;
}

.browse-collection img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.browse-collection {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}

.browse-collection .views-view-grid.cols-4 {
    width: 100%;
}

.browse-collection table tr, .browse-collection table td {
    text-align: center;
    background: whitesmoke;
}

.bottom-row-100--50-50--33-33-33 h2 {
    border-bottom: solid 1px #003f87;
    width: 80%;
}